[mail]
# send mail when checking a file with hostnames
SENDMAIL=True
# use SMTP authentication
SMTPAUTH=True
# hostname smtp server
SMTPSERVER=smtp.example.com
# username used for smtp authentication
SMTPUSER=certchecker
# password used for smtp authentication
SMTPPASS=very_strong_password
# email address that sends the message
FROMADDRESS=certchecker@example.com
# seperate multiple receivers with a ;
RECEIVERS=ops@example.com;infosec@example.com

[zendesk]
# create a zendesk ticket or not
CREATETICKET=False
# url towards your zendesk instance
ZENDESKDOMAIN=https://customername.zendesk.com/
# username for authentication
ZENDESKUSER=username@mail.com
# API KEY for zendesk
APIKEY=<put zendesk api key here>

[customcerts]
# directory that has additional root ca certificates that are considered trusted
CUSTOMROOTCERTSPATH=c:\certalerter\custom_root_certs\
